body {
    background-image: linear-gradient(#009688 20%, #dcdbd2 20%);
    height: 100vh;
}

#root {
    padding-top: 100px;
}

.container {
    box-shadow: 0px 0px 5px gray;
    background-color: #fff;
}

img {
    width: 50px;
    border-radius: 50%;
}

i {
    font-size: 25px;
    padding: 5px;
}


/* NAV */

.fa-bell-slash {
    font-size: 30px;
    color: #8edafc;
    ;
}

#user-nav {
    background-color: #eaeaea;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fa-search {
    top: 6px;
}

#userMessage {
    background-color: #d5f9ba;
    border-radius: 10px;
}

#answer {
    border-radius: 10px;
    background-color: #fff;
}

.list-group-item {
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.list-group-item:hover {
    background-color: lightgray;
}


/* CHAT */

#chat {
    min-height: 500px;
    background-image: url(/img/mine.jpg);
}


/* Colors */

.light-gray {
    color: #b1b1b1;
}

.bg-light-gray {
    background-color: #eaeaea;
}

.bg-light-sky-blue {
    background-color: #8edafc;
}