*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #009688;
}

body {
    background-image: linear-gradient(#009688 20%, #dcdbd2 20%);
    height: 100vh;
}

.container {
    box-shadow: 0px 0px 5px gray;
    background-color: #fff;
}

main {
    height: 90vh;
}

img {
    width: 54px;
    border-radius: 50%;
}

i {
    font-size: 25px;
    padding: 5px;
}


/* NAV */

.fa-bell-slash {
    font-size: 30px;
    color: #8edafc;
    ;
}

#user-nav {
    background-color: #eaeaea;
}

.fa-search {
    top: 6px;
}

#contacts {
    overflow-y: scroll;
}

.list-group-item {
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.list-group-item:hover {
    background-color: lightgray;
}


/* CHAT */

#userMessage {
    background-color: #d5f9ba;
    border-radius: 10px;
}

#answer {
    border-radius: 10px;
    background-color: #fff;
}

#chat {
    overflow-y: scroll;
    background-image: url(/img/mine.jpg);
}

.fa-chevron-down {
    top: 0;
    left: 82%;
    font-size: 15px;
    color: gray;
}

.info-message {
    top: 90%;
    left: 28%;
    z-index: 1;
}


/* Colors */

.light-gray {
    color: #b1b1b1;
}

.bg-light-gray {
    background-color: #eaeaea;
}

.bg-light-sky-blue {
    background-color: #8edafc;
}